<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>

  <div class='hero-wrapper'>
    <%= video_tag 'https://cli-kus.fra1.digitaloceanspaces.com/land-lieben-buergerbeteiligungsplattform_KV-Kusel.mp4',
      autoplay: true,
      loop: true,
      muted: true,
      controls: true,
      controlsList: "nodownload nofullscreen noremoteplayback",
      disablepictureinpicture: true  %>

    <div class='hero-content'>
        <div class='column position-relative'>
          <div class='hero-text'>
            <%= t('cli.welcome.hero.text') %>
          </div>
          <%= link_to "#welcome_block", class: "hero-cta", role: "button" do %>
            <%= svg_tag("mitmachen") %>
          <% end %>
        </div>
    </div>
	</div>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%= render_custom_block 'home_page_1' %>
    </div>
  </div>

  <% if @cards.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <div class="row">
          <div class="small-12 column">
            <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%= render_custom_block 'home_page_2' %>
    </div>
  </div>

  <% if @active_projekts.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @active_projekts, section_title: t("custom.welcome.active_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%= render_custom_block 'home_page_3' %>
    </div>
  </div>

  <% if @latest_polls.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <h4 class='title-accent'><%= t('custom.welcome.current_polls') %></h4>
        <%= render partial: "polls/poll_group", locals: { poll_group: @latest_polls } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%=render_custom_block 'home_page_4' %>
    </div>
  </div>

  <% if @latest_items.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <h4 class='title-accent'><%= t('custom.welcome.user_entries') %></h4>
        <%= render "latest_items" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%=render_custom_block 'home_page_5' %>
    </div>
  </div>

  <% if @expired_projekts.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @expired_projekts, section_title: t("custom.welcome.expired_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%=render_custom_block 'home_page_6' %>
    </div>
  </div>
</main>
